<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8" />
  <title>Layui</title>
  <meta name="renderer" content="webkit" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
 </head>
 <body>
   {% load static %}
  <link rel="stylesheet" href="{% static  '/css/layui.css '%}" />
  <table class="layui-hide" id="huobi-table"></table> {% load static %}
  <script src="{%  static 'layui.js'%}"></script>
  <script src="{%  static 'jquery1.0.js'%}"></script>
  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
   <legend>新增监控</legend>
  </fieldset>
  <form class="layui-form" action="" onsubmit="return false" id="monitor_price_form">
   <div class="layui-form-item">
    <div class="layui-inline">
     <label class="layui-form-label">交易所</label>
     <div class="layui-input-inline">
      <select name="exchange" lay-verify="required"  lay-search=""> <option value="1">火币交易所</option> <option value="2">币安交易所</option> <option value="3">抹茶交易所</option> <option value="4">OKEX交易所</option> </select>
     </div>
     <div class="layui-inline">
      <label class="layui-form-label">交易对</label>
      <div class="layui-input-inline">
        <input type="text" name="coin_name" id="coin_name" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" />

      </div>
      <div class="layui-input-inline">
       <label class="layui-form-label">当前价格</label>
       <div class="layui-input-block">
        <input type="text" id="current_price"  disabled readonly class="layui-input layui-disabled" autocomplete="off" placeholder="" class="layui-input" />
       </div>
      </div>

         <div class="layui-input-inline">
       <label class="layui-form-label">监控价格</label>
       <div class="layui-input-block">
        <input type="text" name="monitor_price"  id = "monitor_price" lay-verify="title" autocomplete="off" placeholder="" class="layui-input" />

  </div>


      </div>
            <button class="layui-btn" lay-submit="" lay-filter="submit_monitor_price" id = "add_monitor_price_submit">设定监控</button>
            <button class="layui-btn" lay-submit="" lay-filter="submit_monitor_price" id = "del_all_monitor_price_submit">删除全部</button>

     </div>

    </div>

  <fieldset class="layui-elem-field layui-field-title" style="margin-top: 5px;">
   <legend>我的监控</legend>
  </fieldset>
        <table class="layui-hide" id="monitor-price-table"></table>


<script type="text/html" id="checkboxTpl">
  <!-- 这里的 checked 的状态只是演示 -->
  <input type="checkbox" name="status" value="{{d.id}}" title="锁定" lay-filter="status" >
</script>

    <script>
        //使用websocket获取当前价格
            {#var socket = new WebSocket("ws:" + window.location.host + "client/");#}
            layui.use(['form', 'layedit', 'laydate'], function () {
     var form = layui.form,
         layer = layui.layer,
         layedit = layui.layedit;
     //创建一个编辑器
     var editIndex = layedit.build('LAY_demo_editor');
     //监听提交
        $(function () {
            $("#del_all_monitor_price_submit").click(function () {
             $.ajax({
                url: "client/del_all_monitor_price",
                data: "delete_all",
                //将表单数据序列化，格式为name=value
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    //success
                    if (data.code == 200) {
                     layer.alert('删除成功',{icon:1});
                        show_monitor_price();//添加新的监控后，从数据库中读取数据显示到前端页面
                     $("#current_price").val(data.current_price);
                        console.log(data.current_price);
                    }else if (data.code == 404) {
                     layer.alert("服务器出现异常错误",{icon: 5});
                    }else if (data.code==301){
                     layer.alert("请检查信息是否填写正确",{icon: 5});
                    }
                },
			error: function() {
				console.log("提交ajax函数异常");
				console.log( $('#monitor_price_form').serialize());
            layer.alert('操作失败！！！',{icon:5});
			},

		});

            })
            $("#add_monitor_price_submit").click(function () {
                if($("#coin_name").val()=="" || $("#monitor_price").val() == "")
                {
                    layer.alert("信息未填写完毕",{icon:5});
                    return false;
                }

               console.log( $('#monitor_price_form').serialize());
                $.ajax({
                url: "client/add_monitor_price",
                data: $('#monitor_price_form').serialize(),
                //将表单数据序列化，格式为name=value
                type: 'POST',
                dataType: 'json',
                success: function(data) {
                    //success
                    if (data.code == 200) {
                     layer.alert('设置成功',{icon:1});
                        show_monitor_price();//添加新的监控后，从数据库中读取数据显示到前端页面
                     $("#current_price").val(data.current_price);
                        console.log(data.current_price);
                    }else if (data.code == 404) {
                     layer.alert("服务器出现异常错误",{icon: 5});
                    }else if (data.code==301){
                     layer.alert("请检查信息是否填写正确",{icon: 5});
                    }
                },
			error: function() {
				console.log("提交ajax函数异常");
				console.log( $('#monitor_price_form').serialize());
            layer.alert('操作失败！！！',{icon:5});
			},

		});
            })
        })
 });


    //监控表格
         function show_monitor_price(){
            layui.use('table',
function() {
    var table = layui.table;
    //
    //定时渲染页面
    table.render({
        async: false,
        elem: '#monitor-price-table',
        height: 'full-200' //高度自适应
        ,
        url: 'client/show_monitor_price' //数据接口
        ,
        cellMinWidth: 90,
        limit: 100 //一页显示条数
        ,
        loading: true,
        first: false //不显示首页
        ,
        last: false //不显示尾页
        ,
        page: true //开启分页
        ,
        cols: [[ //表头
        {
            field: 'id',
            type: 'numbers',
            title: 'ID',
            width: 80,
            sort: true,
            fixed: 'left'
        },
        {
            field: 'create_times',
            title: '创建时间',
            align: 'center',
            sort: true
        },
        {
            field: 'exchange_name',
            title: '交易所',
            align: 'center'
        },
        {
            field: 'coin_name',
            title: '币名',
            align: 'center'
        },
        {
            field: 'current_price',
            title: '当前价格',
            align: 'center'
        },
        {
            field: 'monitor_price',
            title: '监控价格',
            align: 'center'
        },
         {  //应该为status表示状态，这里单词打错了，懒得修改对应数据库信息，就将错就错
            field: 'monitor_statue',
            title: '当前状态',
            align: 'center'
        },
         {field:'lock', title:'是否关闭', width:110, templet: '#checkboxTpl', unresize: true}
        ]]
    });
 form.on('checkbox(lockDemo)', function(obj){
    layer.tips(this.value + ' ' + this.name + '：'+ obj.elem.checked, obj.othis);
  });
});
}
show_monitor_price();
</script>
   </div>
  </form>
 </body>
</html>